@font-face {
  font-family: "BMJUA";
  src: url("./font/BMJUA_ttf.ttf") format("truetype");
}
* {
  font-family: "BMJUA";
}

body, html, #root {
  height: 100dvh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-bars {
  position: absolute;
  color: white;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 999999;
}

.fa-bars:hover {
  color: gainsboro;
}

.fa-share-from-square {
  display: flex;
  color: #B8001F;
  cursor: pointer;

}

.fa-eye-slash, .fa-eye {
  display: flex;
}

input[type=password] {
  font-family: Arial, Helvetica, sans-serif;
}